
.file {
    overflow: hidden;
    height: 80px;
    width: 150px;
    display: inline-block;
    margin-block-end: 10px;
    margin-inline-end: 10px;
    background-color: aliceblue;
}
.file__name {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
}

.file__path {
    color: gray;
    font-style: italic;
    overflow: hidden;
}