.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.file-row:hover {
    background-color: #fafafa;
}

div.search {
    margin-top: 1rem;
}
